{% set route = app.request.attributes.get('_route') %}
{% set id = app.request.get('id') %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
{#            <img src="{{ asset('./img/logo.png') }}">#}
            <div class="logo">Logo</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if route == 'index' %}active{% endif %}" aria-current="page" href="{{ path('index') }}">Acceuil</a>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link {% if route == 'biens' %}active{% endif %}" href="{{ path('biens') }}">Biens</a>
                    </li>
                    {% if app.user.roles[0] != 'ROLE_TENANT' %}
                        <li class="nav-item">
                            <a class="nav-link {% if route == 'tenants' %}active{% endif %}" href="{{ path('usersRoles',{"roles":'tenant'}) }}">Locataire</a>
                        </li>
                        {% if app.user.roles[0] == 'ROLE_ADMINISTRATOR' %}
                            <li class="nav-item">
                                <a class="nav-link {% if route == 'representatives' %}active{% endif %}" href="{{ path('usersRoles',{"roles":'representative'}) }}">Mandataire</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
            {% if app.user %}
                <form action="{{ path('user') }}" method="post">
                    <button class="nav-link {% if route == 'user' and id == app.user.id %} active {% endif%} bi bi-person-circle" name="id" value="{{ app.user.id }}"> Mon profil</button>
                </form>
                <a class="nav-link bi bi-box-arrow-right" href="/logout"></a>
            {% endif %}
        </div>
    </div>
</nav>
