<div class="mb-3 d-flex residence-card">
    <img src="{{ residence.image }}">
    <div class="ms-3">
        <h1>
            {{ residence.name }}
        </h1>
        <h6>Disponible</h6>
        <div class="d-flex">
            <p>Non Occupé</p>
            <p class="ms-5">Gérée par {{ residence.representative.name }}</p>
        </div>
        <p>? locations au total</p>
        <form method="post" action="{{ path('bien') }}">
            <button class="btn btn-custom" name="id" value="{{ residence.id }}">Acceder</button>
        </form>
{#        <a href="{{ path('bien', {"residence" : residence.id}) }}" class="btn btn-custom">Acceder</a>#}
    </div>
</div>