{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-flex flex-wrap mt-5">
        <div class="col-12 col-md-4 mb-4">
            <h1>{{ user.name }} {{ user.lastname }}</h1>
            {{ form_start(modifyForm) }}
            <div class="form-label-display">
                {{ form_row(modifyForm.lastname, {
                    'label': 'Nom'
                }) }}
            </div>
            <div class="form-label-display">
                {{ form_row(modifyForm.name, {
                    'label': 'Prenom'
                }) }}
            </div>
            <div class="form-label-display">
                {{ form_row(modifyForm.email) }}
            </div>
{#            <div class="form-label-display">#}
{#                {{ form_row(modifyForm.password, {#}
{#                    'label': 'Mot de passe'#}
{#                }) }}#}
{#            </div>#}
            <button type="submit" class="mt-1 btn btn-success" name="id" value="{{ user.id }}">Mettre a jour</button>
            {{ form_end(modifyForm) }}
        </div>
        <div class="col-12 offset-0 offset-md-2 col-md-6">
            <h1>
                Mes Locations
            </h1>
        </div>
    </div>

{% endblock %}
