{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-flex flex-wrap mt-5">
        <div class="col-12 col-md-4 mb-4">
            <h1>{{ user.name }} {{ user.lastname }}</h1>
            {{ form_start(modifyForm) }}
            <div class="form-label-display">
                {{ form_row(modifyForm.lastname, {
                    'label': 'Nom'
                }) }}
            </div>
            <div class="form-label-display">
                {{ form_row(modifyForm.name, {
                    'label': 'Prenom'
                }) }}
            </div>
            <div class="form-label-display">
                {{ form_row(modifyForm.email) }}
            </div>
{#            <div class="form-label-display">#}
{#                {{ form_row(modifyForm.password, {#}
{#                    'label': 'Mot de passe'#}
{#                }) }}#}
{#            </div>#}
            <button type="submit" class="mt-1 btn btn-success" name="id" value="{{ user.id }}">Mettre a jour</button>
            {{ form_end(modifyForm) }}
        </div>
        <div class="col-12 offset-0 offset-md-2 col-md-6">
            <h1>
                {% if user.id == app.user.id %}
                Mes
                {% else %}
                Les
                {% endif %}
                Locations
            </h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date entrée</th>
                    <th scope="col">Date sortie</th>
                    <th scope="col">Locataire</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                {% for rent in rents %}
                    {% include 'residence/residence-line.html.twig' with {'rent' : rent} %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
